
html { 
  background: url('images/audi.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container{
	width: 943px;
	margin: 0px auto;
}


.navbar{
	position:fixed;
	background-color: #292827;
	color:#DEDEDE;
	font-family: Futura, sans-serif;
	display: inline-block;
	width: 943px;
}

.navbar h2 {
	float: left;
	display: inline-block;
	font-size: 35pt;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	margin-left: 5px;
}

.navbar ul{
	float: right;
	list-style-type: none;
	padding-right: 10px;
	text-transform:uppercase;
}

.navbar li{
	display: inline-block;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	border: 1px solid #DEDEDE;
}

.project-pictuures{
	margin-left: auto;
	margin-right: auto;
	/*width:943px;*/
}


.quotes{
	background-color: #292827;
	height: 150px;
	margin:0;
	width:943px;
}

.quotes p{
	text-align: center;
	color: #DEDEDE;
	font-size: 40px;
	position: center;
	margin: 0px 0px 0px 0px;
}

#right{
	text-align: right;
	margin-right: 10px;
}

.transparent {
	background-color: #8C8C8C;
	opacity: 0.4;
	height: 400px;
}

.mission{
	padding-top:90px; 
	padding-left: 60px;
	padding-right: 60px;
}

.mission p{
	margin-top:0px;
	background-color: #292827;
	opacity: 1.0;
	border-radius: 10px;
	color: #DEDEDE;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom:10px;
	padding-right:10px;
}

.footer{
	background-color: #292827;
	color: #DEDEDE;
	margin: auto;
}

.footer ul {
	display: inline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	list-style-type: none;
	text-transform:uppercase;
	font-family: Futura, Tahoma, sans-serif;
}

#pad-top{
	margin-top: 0px;
}


.footer li{
	display: inline-block;
	position: top;
	display: block;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
}

#red{
	display: block;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.space{
	margin: auto;
}
.pagelink{
	text-decoration: none;
	color:#DEDEDE;
}